<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>PROTOTIPO</title>
        <script src="./js/prototipo.js"></script>
    </head>
    <body>
        <h1 id="titulo" class="titulo">ABY</h1>
        <menu>
            <span>Diseño responsivo</span>
            <span>opcion 1</span>
            <span>opcion 2</span>
            <span>ingredientes</span>
            <span>cargar</span>
            <span>reportes</span>
            <span>sugerencias</span>
            <span>otros</span>
        </menu>
        <section id="seleccionar-producto">
            Aqui voy a seleccionar
            <div class="column">
                Esta es una columna
            </div>
            <picture>
                <source type="image/webp" srcset="https://my-image.com/my-image-100.webp 1x, https://my-image.com/my-image-200.webp 2x">
                <source type="image/png" srcset="https://my-image.com/my-image-100.png 1x, https://my-image.com/my-image-200.png 2x">
                <img alt="my image" src="https://my-image.com/my-image-200.png" loading="lazy" width="100" height="100">
              </picture>
        </section>
        <section>
            <div>
                <div>un div</div>
                <div>dos div</div>
                <div>tres div</div>
            </div>
        </section>
    </body>
</html>
